# Intermediate SQL

Here you can access every table used in the course. To access each table, you will need to specify the `cinema` schema in your queries (e.g., `cinema.reviews` for the `reviews` table.

# DAY 3 

1. To filter in SQL, the 'WHERE' clause is used. It is usually used with COMPARISON OPERATORS.
2. Comparison Operators are used with the WHERE clause to help filter data. Examples of Comparison Operators used with the 'where' clause include 
- Greater than >
- Less than <
- Not equal to <>
3. Multiple Criteria Filter includes using the following terms with the 'WHERE' clause and they include; 'OR', 'AND' and 'BETWEEN'.

_Add your notes here_

In [ ]:
-- Add your own queries here
SELECT film_id, facebook_likes
FROM reviews 
WHERE facebook_likes < 1000
LIMIT 10;

--Second Query 
SELECT COUNT(*) AS films_over_100K_votes
FROM reviews
WHERE num_votes >= 100000;

--Third Query 
SELECT title, release_year
FROM films
WHERE release_year < 2000
	AND language = 'German';
--Fourth Query
SELECT title, release_year
FROM films
WHERE (release_year = 1990 OR release_year = 1999)
	AND (language = 'English' OR language = 'Spanish')
-- Filter films with more than $2,000,000 gross
	AND gross > 2000000;

## Explore Datasets
Use the `descriptions`, `films`, `people`, `reviews`, and `roles` tables to explore the data and practice your skills!
- Which titles in the `reviews` table have an IMDB score higher than 8.5?
- Select all titles from Germany released after 2010 from the `films` table.
- Calculate a count of all movies by country using the `films` table.